@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
background-image: linear-gradient(to left, #0539F5, #0585F5, #05F5CA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #02437cad;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #0539F5;
    text-align: center;
    text-shadow: 1px 1px 2px #011d808a;
}

h2 {
    color: #0585F5;
}

p {
    text-align: justify;
}