@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(156, 154, 154);
    margin: 0px;
}

header {
    background-color: white;
    width: 500px;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(175, 175, 175);
    padding: 5px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);

}

nav > a {
    margin: 30px;
    text-decoration: none;
    color: black
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    width: 500px;
    margin: 10px;
}

article {
    background-color: lightgray;
    padding: 5px;
    
}

article > aside {
    background-color: rgb(66, 66, 66);
}

footer > p {
    margin: 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}